        /* body {
            background-color: azure;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-wrap: wrap;
        }

        /* Grundstil für Header 
        header {
            background-color: rgb(170, 255, 244);
            flex-basis: 100%;
        }

        header nav ul {
            text-align: right;
        }

        header nav ul li {
            display: inline;
        }

                /* Grundstil für Menü */
                nav#menu {
                    position: fixed;
                    top: 17%;
                    height: 100%;
                    width: 220px;
                    background-color: #aaf;
                    padding: 0.2rem;
                }
        
                /* Menü links für ltr */
                [dir="ltr"] nav#menu {
                    left: 0;
                }
        
                /* Menü rechts für rtl */
                [dir="rtl"] nav#menu {
                    right: 0;
                }
        
                /* Hauptinhalt: immer Abstand zum Menü */
                main {
                    margin-left: 230px;
                    /* Standard: links Abstand */
                }
        
                [dir="rtl"] main {
                    margin-left: 0;
                    /* Entferne linken Abstand */
                    margin-right: 230px;
                    /* Füge rechten Abstand hinzu */
                }

        /*Inhalt nach rechts verschieben bei ltr (weil Menü links ist)
        [dir="ltr"] main nav#content {
            margin-left: 220px;
        }

        /*Inhalt nach links verschieben bei rtl (weil Menü rechts ist)
        [dir="rtl"] main nav#content {
            margin-right: 220px;
        }*/



        /* Hauptinhalt */
        /*main {
            display:flex;
        }*/

        /* nav#content {
            top: 40%;
            height: 60%;
        }*/

        /*  main nav { width: 40 %; background-color: #aaf; }
  main div#content { width: 60 %; background-color: #aff; }*/

        /*main div#content {
            top: 0;
            width: 90%;
            float: left;
            background-color: #aff;
            padding: 12%;
            
        }*/



MENÜ:
    <nav id="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="co2-emissionsdata.html">CO2-Emissionsdaten</a></li>
            <li><a href="about.html">Über uns</a></li>
        </ul>
    </nav>



        <header class="bg-success py-3 fixed-top">
        <div class="container">
            <div class="row align-items-start">
                <!-- Firemnname & Untertitel linksbündig oben -->
                <div class="col">
                    <h1 class="h3 mb-0">Klimabilanz365</h1>
                    <h2 class="h6 text-muted">Der CO2-Footprint</h2>
                </div>
                <!-- Logo rechtsbündig oben; 
                 img-fluid=Saklierung des Logo auf kleinen Bildschirmen -->
                <div class="col-auto text-end">
                    <img src="images/Logo-Klimabilanz365.png" class="img-fluid" style="max-width: 150px;"
                        alt="Bild Logo" width="300" />
                </div>
            </div>
            
            <nav class="navbar">
            <ul class="list-inline justify-content-center mx-auto">
                <li class="list-inline-item"><a href="https://www.instagram.com/Klimabilanz365">Instagram</a></li>
                <li class="list-inline-item"><a href="https://www.facebook.com/Klimabilanz365">Facebook</a></li>
                <li class="list-inline-item"><a href="contact.html">Kontakt</a></li>
            </ul>
            </nav>
        </div>
    </header>

    <main class="container pt-5 mt-3">
        <div>
            <nav id="content">
                <article id="article">